


    <!-- ---------------------------------- -->

    <div class="d-flex justify-content-center" style="align-items: center; height: 100vh;">
        <div class="d-flex flex-column justify-content-between">
            <div>
    
            </div>
            <div style="width: 100%; max-width: 600px; height: 600px; margin: auto;" class="p-5">
                
                <div class="d-flex justify-content-center">
                    <h1 style="text-align: center;"><b>THAY ĐỔI MẬT KHẨU</b></h1>
                </div>
                <br>
                <form id="passwordForm" (ngSubmit)="onChangePassword()">
                    <div class="row">
                        <div class=" mb-sm-3 form-group d-flex justify-content-center" style="align-items: center;">
                            <i class="fas fa-unlock-alt" style="margin-right: -24px; z-index: 2;"></i><input name="oldPassword"  required [(ngModel)]="changePassword.oldPassword"
                                type="password" class="px-5 form-control" placeholder="Mật khẩu cũ">
                        </div>
                        <br>
                        <div class="mb-sm-3 form-group d-flex justify-content-center" style="align-items: center;">
                            <i class="fas fa-unlock-alt" style="margin-right: -24px; z-index: 2;"></i><input name="newPassword" required
                                [(ngModel)]="changePassword.newPassword" type="password" class="px-5 form-control" placeholder="Mật khẩu mới">
                        </div>
                        <br>
                        <div class="mb-sm-3 form-group d-flex justify-content-center" style="align-items: center;">
                            <i class="fas fa-unlock-alt" style="margin-right: -24px; z-index: 2;"></i><input name="repeat-newPassword" required
                                [(ngModel)]="repeatNewPassword" type="password" class="px-5 form-control" placeholder="Nhập lại mật khẩu mới">
                        </div>
                        
                        <br>
                        
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary mb-4" style="width: 100%;">Đổi mật khẩu</button>
                        </div>

                    </div>
                    <!-- ----------- -->
                    
                </form>
                <!-- --------------------- -->
                
            </div>
            <div class="d-flex justify-content-center">
                <!-- &copy; 2023 VPSTECH. All rights reserved -->
            </div>
        </div>
        
    </div>

